{% load staticfiles %}

        </td>
        <td
            width="{{ skin.container.horizontalmodulepadding }}"
            bgcolor="{{ current_color }}">
                <img
                    src="{% static 'img/pxt.gif' %}"
                    width="{{ skin.container.horizontalmodulepadding }}"
                    height="1"
                    border="0"
                    alt="" />
        </td>
    </tr>
    <tr>
        <td
            colspan="3"
            width="1"
            height="{{ skin.container.verticalmodulepadding }}"
            bgcolor="{{ current_color }}">
                <img
                    src="{% static 'img/pxt.gif' %}"
                    width="1"
                    height="{{ skin.container.verticalmodulepadding }}"
                    border="0"
                    alt=""
                    />
                <br />
        </td>
    </tr>

    {% if skin.container.border_height %}
        <tr>
            {% if skin.container.border_width %}{% if type == "right" or type == "main" %}
                    <td
                        bgcolor="<?php echo (imgs['modbl']?colors['cell_background']:colors['border']); ?>"
                        width="{{ dims.modbl.width }}"
                        height="{{ dims.modbl.height }}">
                            <img
                                src="<?php echo (imgs['modbl'] ? master['currentskin'] . 'modbl.gif' : 'img/pxt.gif'); ?>"
                                width="{{ dims.modbl.width }}"
                                height="{{ dims.modbl.height }}"
                                border="0"
                                alt="" />
                    </td>
            {% endif %}{% endif %}
            <td
                colspan="3"
                class="modb"
                >
                    <img
                        src="{% static 'img/pxt.gif' %}"
                        width="100%"
                        height="{{ dims.modb.height }}"
                        border="0"
                        alt="">
            </td>
            {% if skin.container.border_width %}{% if  type == 'left' or type == 'main' %}
                <td
                    width="{{ dims.modbr.width }}"
                    height="{{ dims.modbr.height }}"
                    class="modbr">
                        <img
                            src="<?php echo (imgs['modbr'] ? master['currentskin'] . 'modbr.gif' : 'img/pxt.gif'); ?>"
                            width="{{ dims.modbr.width }}"
                            height="{{ dims.modbr.height }}"
                            border="0"
                            alt="" />
                </td>
            {% endif %}{% endif %}
        </tr>
    {% endif %}

    <!--<tr><td colspan="<?php print (type == 'left' || type == 'right' ? '5' : '7') ?>" width="1" height="<?php echo container['horizontalpadding']; ?>"><img src="{% static 'img/pxt.gif' %}" width="1" height="<?php echo container['horizontalpadding']; ?>" border="0" alt="" /></td></tr>-->
</table>

<img
    src="{% static 'img/pxt.gif' %}"
    border="0"
    width="1"
    height="{{ skin.container.verticalpadding }}"
    alt=""
/>
<br />
