.smm td:nth-child(odd) {
	background-color: #3f3f3f;
};

.smm thead {
	background-color: #3b3b3b;
}

.smm tfoot {
	background-color: #3b3b3b;
}

table, form {
	font: 12px Tahoma;
	border: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

a:hover {
	text-decoration: underline;
	color: #00ff00;
}

input, select, textarea, .button {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;
	margin: 0px 2px 0px 2px;
	padding: 0px 2px 0px 2px;
	border: 1px solid  #666666;
}

.formcolors {
	background-color: #3f3f3f;
	color: #ffffff;
	border-color: #666666;
}
.formcolors2 {
	background-color: #3f3f3f;
	color: #ffffff;
	border-color: #00ff00;
	}
.ul {
	border: 1px solid #222222;
	margin: 4px 12px 4px 4px;
	padding: 6px 6px 8px 6px;
}
.normal {
	font: 12px Tahoma;
	}
.radio {
	border: none;
	text-decoration: none;
	}
.button {
	font-size: 9px;
	background-color: #3f3f3f;
	}
.main {
	cursor: crosshair
	}
.obj {
	cursor: hand
	}
.unblend {
	font-weight: bold;
	}
.menu_top {
	font: 10px Verdana;
	}
.menu {
	text-decoration: none;
	}
.sm {
	font: 10px Verdana;
	}
.smm {
	font: 9px Helvetica;
	font-weight: bold;
	}
.celltitle {
	font: 10px Verdana;
	font-weight: bold;
	}
.title {
	font: 18px Tahoma;
	font-weight: bold;
	}
.centerd {
	margin-left: auto;
	margin-right: auto;
}
.tourneytitle {
	font: 24px Arial;
	font-weight: bold;
}
