{% load module include_module %}
{% load spacer %}

<tr>
    {% if module_type != 'left' and loc != 'main' %}
        <td width="{{ skin.container.horizontalpadding }}">
            {% spacer skin.container.horizontalpadding %}
        </td>
    {% endif %}

    <td
        width="100%"
        {% if module_type != 'main' %}
            colspan="2"
        {% endif %}
        >
            <!-- module_type -->
            {% start_module loc string "" link %}
                {% include_module name %}
            {% end_module loc %}
    </td>

    {% if module_type != 'right' and loc != 'main' %}
        <td
            width="{{ skin.container.horizontalpadding }}">
                {% spacer skin.container.horizontalpadding %}
        </td>
    {% endif %}
</tr>
