{% extends "admin/base_site.html" %}
{% load trans relatedlinks staticfiles %}
{% load admin_urls admin_static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">Pizza</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">
        {{ opts.verbose_name_plural|capfirst }}
    </a>

    &rsaquo; {% trans "Order summary" %}
</div>
{% endblock %}


{% block content %}

<table width="100%">
    <thead>
        <tr>
            <td class="sort" data-sort="username">{% trans "tr_username" %}</td>
            <td class="sort" data-sort="pizza">{% trans "tr_pizza" %}</td>
            <td>{% trans "tr_quantity" %}</td>
            <td>{% trans "tr_paid" %}</td>
            <td>{% trans "tr_delivered" %}</td>
        </tr>
    </thead>

    <tbody class="list">
        {% for row in orders %}
            <tr>
                <td class="username">{{ row.orderer.username }}</td>
                <td class="pizza">{{ row.pizza }}</td>
                <td class="quantity">{{ row.quantity }}</td>

                <td class="paid">
                    {% if row.paid %}
                        {% trans 'yes' %}
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="pay">
                            <input type="hidden" name="orderid" value="{{ row.id }}">
                            <input id="p-submit" type="submit" value="pay this" class="formcolors">
                        </form>
                    {% endif %}
                </td>

                <td class="delivered">
                    {% if row.delivered %}
                        {% trans 'yes' %}

                    {% elif row.paid %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="deliver">
                            <input type="hidden" name="orderid" value="{{ row.id }}">
                            <input type="submit" value="deliver this" class="formcolors">
                        </form>

                    {% else %}
                        {% trans 'no' %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
