<br />
<table border=0 cellpadding=4 cellspacing=0 style="width: 95%; font-size: 11px" align="center" class="centerd">
    <tr bgcolor="{{ skin.colors.cell_title }}">
        <td width="40">#</td>
        <td><b>team name</b></td>
        <td width="160"><div align="center">rounds survived</div></td>
        <td width="100"><div align="center">total score</div></td>
    </tr>
    {% load debugger %}
    {% debugger %}
    {% for val in teamscores.distinct %}
        {% if tournament.per_team > 1 %}
            $temp = $dbc->database_fetch_assoc($dbc->database_query("SELECT name FROM tournament_teams WHERE id='".$val[0]."'"));
        {% else %}
            $temp = $dbc->database_fetch_assoc($dbc->database_query("SELECT username AS name FROM users WHERE userid='".$val[0]."'"));
        {% endif %}

        <tr>
            <td width="40">{{ forloop.counter }}</td>
            <td><b>{{ temp.name }}</b></td>
            <td width="160"><div align="center">{{ val.1 }}</div></td>
            <td width="100"><div align="center">{{ val.2 }}</div></td>
        </tr>
    {% endfor %}
</table>
<br />
